.map54 {
  margin-left: 20%;
}
.add54 {
  color: red;
}
.center54 {
  color: white;
  background-color: rgb(30, 133, 73);
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  iframe {
    width: 340px;
    margin-left: -22%;
    border: 2px solid red;
  }
}

